.App {
  text-align: center;
}

header > img {
  width: 100%;
  max-width: 250px;
}

.MapBox > img {
  width: 100%;
  max-width: 480px;
}

.LocationButton {
  font-size: 18px;
  width: 150px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: white;
}
